.plstImg{
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.card:hover{
    background-color: rgba(0,0,0,0.5);
}

.btnPlst{
    border: none;
    background-color: rgba(0, 0, 0, 0);
}


.btnPlst:hover{
    background-color: rgba(0, 0, 0, 0.40);
}
.card-img-top{
    opacity: 40%;
}
.card-img-top:hover{
    opacity: 60%;
}

.plstImg:hover{
    opacity: 60%;
}

.changBtn{
    display: none;
}

.changBtn:hover{
    display: block;
}

.change-card:hover{
    padding: 0;
}

.changTitle:hover button{
    padding: 1rem 0;
    display: block;
}

.changTitle:hover div{
    display: none;
}

