.playerControls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 20px;
}


.playerControls .play svg,
.playerControls .pause svg,
.playerControls .next svg,
.playerControls .prev svg
{
    height: 30px;
    width: 30px;
}

.prev{
    transform: rotate(180deg);
}

.playerControls button{
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    cursor: pointer;
}

.playerControls button:hover {
    background-color: rgba(80, 80, 80, 0.4);
}

.playerControls path {
    fill: white;
}
