@import "./../../styles/mixins.scss";

$color_footer:rgba(0, 0, 0, 0.99);
$color_text_footer:#fafaff;
$range_color: #3b7677;

.playFoot{
    background-color: $color_footer;
    position: fixed;
    text-align: center;
    right: 0;
    bottom: 0;
    width: 100%;
    font-size: 19px;
    font-weight: bold;
    color: $color_text_footer;
    padding-bottom: 10px;
    animation: advent 0.5s linear 1 alternate;
}

input[type=range] {
    @include size(100%,10px);
    -webkit-appearance: none;
    border-radius: 8px;
    margin-bottom: 5px;
    background: $range_color;
    transition: background 0.2s ease;
    cursor: pointer;
}

.playerImg{
    @include respond_phone{
        display:none;
    }
}
