.add{
    display: flex;
    height: 100%;
    justify-content: center;
    background: linear-gradient(66deg, #e38010, #1535bf);
}

.add_form{
    width: 80%;
    border: 2px solid white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.mBodyAdd{
    height: 100%;
    width: 80%;
    background: rgba(0, 0, 0, 0.40);
    border: 2px solid rgba(3, 3, 3, 0.43);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.40);
    border: 2px solid rgba(3, 3, 3, 0.43);
    color: white;
}

.body {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}