$hover_color:black;
$link_color:white;

.nav-route {
    margin: 0 5px;
    a{
        display: inline-block;
        padding: 10px 15px;
        text-decoration: none;
        color: $link_color;
    }

    &:hover{
        background-color: $link_color;
        border-radius: 5px;
        a{
            color: $hover_color;
        }
    }
    &.active {
        background-color: $link_color;
        border-radius: 5px;
        a{
            color: $hover_color;
        }
    }
}




