.Home{
    display: flex;
    height: 100%;
    justify-content: center;
    /*background: linear-gradient(90deg, #FF3333, #FF7600 50%, #FF3399); FF3333*/
    background: linear-gradient(90deg, #64247F, #BF3A30 , #64247F);
/*background: rgb(44,23,177);*/
    /*background: linear-gradient(90deg, rgba(44,23,177,1) 0%, rgba(255,247,0,1) 50%, rgba(255,156,0,1) 100%);*/
}

.mBody{
    height: 100%;
    width: 80%;
    margin-bottom: 80px;
    background: rgba(0, 0, 0, 0.40);
    border: 2px solid rgba(3, 3, 3, 0.43);
    color: white;
}