.AllMusic{
    display: flex;
    height: 100%;
    justify-content: center;
    /*background: linear-gradient(90deg, #FF3333, #FF7600 50%, #FF3399); FF3333*/
    background: linear-gradient(90deg, #af56d5, #a530bf, #5aece7);
}


.listControls{
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    padding-left: 0rem;
}
